<html>
    <head>
        <title>Alok's Blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">My First Blog!!!!</a></h1>
        </div>

        <div>
            <h2><a href="">My first post</a></h2>
            <p>Hi all. I am looking to develop a range of new Django learning resources for 2017 and I thought it would be fun to first ask people what they wanted to learn about.</p>
			<p>published: 29.12.2017, 12:14</p>
        </div>

        <div>
            <h2><a href="">My second post</a></h2>
            <p>The first thing we do within the function is call int() on offset. This converts the Unicode string value to an integer.</p>
			<p>published: 29.12.2017, 12:14</p>
        </div>
    </body>
</html>